<ion-view view-title="ToDos">
  <ion-nav-buttons side="right">
    <button class="button button-clear button-light" ng-click="newTodo()">
      Add
    </button>
  </ion-nav-buttons>
  <ion-content>
    <ion-refresher pulling-text="Pull to refresh" on-refresh="fetchAllTodos()"></ion-refresher>
    <!-- TODO: implement search
    <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search">
      </label>
    </div>-->
    <ion-list>
      <ion-item class="item-remove-animate item-icon-right" ng-repeat="todo in todos" type="item-text-wrap" href="#/tab/todo/{{todo.objectId}}">
        <h2 ng-if="todo.done">
          <strike>{{todo.title}}</strike>
        </h2>
        <h2 ng-if="!todo.done">
          {{todo.title}}
        </h2>
        <i class="icon ion-chevron-right icon-accessory"></i>
        <ion-option-button class="button-assertive" ng-click="remove(todo)">
          Delete
        </ion-option-button>
        <ion-option-button class="button-positive" ng-click="doneToggle(todo)">
          Done
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
